name: auto deploy

on:
  pull_request:
    branches:
      - test
#    types:
#      - closed

jobs:
#  push_to_registry:
#    name: PUSH to NCP
#    runs-on: ubuntu-20.04
#    defaults:
#      run:
#        working-directory: ./backend
#
#    steps:
#      - name: Checkout Repo
#        uses: actions/checkout@v3
#
#      - name: Set up Docker Build
#        uses: docker/setup-buildx-action@v2
#
#      - name: Login to NCP
#        uses: docker/login-action@v1
#        with:
#          registry: ${{ secrets.NCP_REGISTRY }}
#          username: ${{ secrets.NCP_USERNAME }}
#          password: ${{ secrets.NCP_PASSWORD }}
#      - name: Build and push
#        uses: docker/build-push-action@v3
#        with:
#          context: ./backend
#          file: ./backend/dockerfile
#          push: true
#          tags: ${{ secrets.NCP_REGISTRY }}/nest:latest
#          cache-from: type=registry,ref=${{ secrets.NCP_REGISTRY }}/nest:latest
#          cache-to: type=inline
#          secrets: |
#            GIT_AUTH_TOKEN=${{ secrets.GITHUB_TOKEN }}

  pull_from_registry:
    name: connect server ssh and pull from NCP
#    needs: push_to_registry
    runs-on: ubuntu-20.04
    steps:
      - name: connect ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.DEV_USERNAME }}
          password: ${{ secrets.DEV_PASSWORD }}
          port: ${{ secrets.DEV_PORT }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          script: |
            cd /home/meetmeet/backend
            
            docker pull ${{ secrets.NCP_REGISTRY }}/nest:latest
  #            docker-compose down
  #            docker-compose up -d
